/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2016 (13.0.1742)
    Source Database Engine Edition : Microsoft SQL Server Enterprise Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2017
    Target Database Engine Edition : Microsoft SQL Server Standard Edition
    Target Database Engine Type : Standalone SQL Server
*/
USE [master]
GO
/****** Object:  Database [ElasticFantastic]    Script Date: 2019-02-18 11:18:03 ******/
CREATE DATABASE [ElasticFantastic]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ElasticFantastic].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ElasticFantastic]
GO
USE [ElasticFantastic]
GO
/****** Object:  Table [dbo].[Address]    Script Date: 2019-02-18 11:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 2019-02-18 11:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[ssn] [varchar](50) NOT NULL,
	[name] [varchar](60) NULL,
	[street] [varchar](100) NULL,
	[zip] [varchar](50) NULL,
	[city] [varchar](50) NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[ssn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order_Line]    Script Date: 2019-02-18 11:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_Line](
	[orderNbr] [int] NOT NULL,
	[articleNbr] [int] NOT NULL,
	[quantity] [int] NOT NULL,
 CONSTRAINT [PK_OrderLine] PRIMARY KEY CLUSTERED 
(
	[orderNbr] ASC,
	[articleNbr] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orderr]    Script Date: 2019-02-18 11:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orderr](
	[orderNbr] [int] identity (1,1) NOT NULL,  
	[time] [datetime] NOT NULL,
	[customerSSN] [varchar](50) NULL,
 CONSTRAINT [PK_Orderr] PRIMARY KEY CLUSTERED
(
	[orderNbr] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 2019-02-18 11:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[articleNbr] [int] identity(1,19 NOT NULL,
	[productName] [varchar](50) NOT NULL,
	[price] [decimal](18, 3) NOT NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[articleNbr] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Customer] ([ssn], [name], [street], [zip], [city]) VALUES (N'16010313-3906', N'Phelan Gonzalez', N'P.O. Box 618, 4980 Magna Ave', N'51656', N'Labrecque')
INSERT [dbo].[Customer] ([ssn], [name], [street], [zip], [city]) VALUES (N'16020628-2741', N'Savannah Sutton', N'3269 Dignissim Rd.', N'43428', N'Oria')
INSERT [dbo].[Customer] ([ssn], [name], [street], [zip], [city]) VALUES (N'16020904-7232', N'Forrest Boyle', N'Ap #115-9920 Libero. Avenue', N'73577', N'Ruvo del Monte')
GO
INSERT [dbo].[Order_Line] ([orderNbr], [articleNbr], [quantity]) VALUES (1, 1, 1)
INSERT [dbo].[Order_Line] ([orderNbr], [articleNbr], [quantity]) VALUES (1, 3, 4)
INSERT [dbo].[Order_Line] ([orderNbr], [articleNbr], [quantity]) VALUES (1, 4, 2)
GO
INSERT [dbo].[Orderr] ([time], [customerSSN]) VALUES ( CAST(N'2018-01-02T21:35:41.000' AS DateTime), N'16010313-3906')
INSERT [dbo].[Orderr] ([time], [customerSSN]) VALUES ( CAST(N'2018-07-13T02:10:48.000' AS DateTime), N'16020628-2741')
INSERT [dbo].[Orderr] ([time], [customerSSN]) VALUES ( CAST(N'2018-08-18T17:00:27.000' AS DateTime), N'16020904-7232')
GO
INSERT [dbo].[Product] ([productName], [price]) VALUES ( N'TV', CAST(4999.000 AS Decimal(18, 3)))
INSERT [dbo].[Product] ([productName], [price]) VALUES ( N'Computer', CAST(8999.000 AS Decimal(18, 3)))
INSERT [dbo].[Product] ([productName], [price]) VALUES ( N'Headphones', CAST(1999.000 AS Decimal(18, 3)))
ALTER TABLE [dbo].[Orderr]  WITH CHECK ADD  CONSTRAINT [FK_CustomerSSN] FOREIGN KEY([customerSSN])
REFERENCES [dbo].[Customer] ([ssn])
GO
ALTER TABLE [dbo].[Orderr] CHECK CONSTRAINT [FK_CustomerSSN]
GO
USE [master]
GO
